## **Intriduction to Python Script**

### Comment Line and Block Comment

In [ ]:
# This is a comment line
# This is another comment line
# this is the last comment line

### Input and Output in Python

In [2]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print ("Input numbers are", num1, "and", num2)

Please enter the first number:  111
Please enter the second number:  222

Input numbers are 111 and 222

In [10]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
total = num1 + num2    # string concatenation
print (total)

Please enter the first number:  200
Please enter the second number:  300

200 <class 'str'> 300 <class 'str'>
200300

In [12]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
total = num1 + num2    # algebraic addition
print (total)

Please enter the first number:  200
Please enter the second number:  300

200 <class 'int'> 300 <class 'int'>
500

In [24]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))   # {} stands for statement placeholder
print ("So {0} + {1} = {2}".format(num1, num2, total))    # variable placeholder
print ("So {2} + {1} = {0}".format(total, num2, num1))    # indexed placeholder
print ("So {fnum} + {snum} = {tot}".format(fnum = num1, snum = num2, tot = total))    # labelled placeholder
print ("So {fnum} + {snum} = {tot}".format(tot = total, fnum = num1, snum = num2))    # labelled placeholder
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %d + %f = %d"%(num1, num2, total))
print ("So %d + %8.2f = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")   # f stands for smart formatting

So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300.000000 = 500
So 200 +   300.00 = 500
So 200 + 300 = 500

### Python Operators

In [25]:
# arithmetic operators: + - * / // % **
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 % 40)   # remainder of the division
print (100 ** 4)   # exponentiation

140
60
4000
2.5
2
20
100000000

In [27]:
# relational operators: > >= < <= == !=
print (100 > 20, 100 >= 20, 100 == 20, 100 != 20)
print (100 < 20, 100 <= 20)

True True False True
False False

In [30]:
# logical operators: and or not
print (True or True, True or False, False or True, False or False)
print (True and True, True and False, False and True, False and False)
print (not True, not False)

True True True False
True False False False
False True

In [32]:
# operators can be divided in three categories:
# category - 1: Unary operator (operator operand), -10, +10
# category - 2: Binary operator (operand operator operand), 100 + 40, 100 - 40, 100 % 40
# category - 3: Ternary operator (operator and three operands)
num1 = 100
result = "EVEN" if (num1 % 2 == 0) else "ODD"
print (f"So {num1} is an {result} number...")

num1 = 105
result = "EVEN" if (num1 % 2 == 0) else "ODD"
print (f"So {num1} is an {result} number...")

So 100 is an EVEN number...
So 105 is an ODD number...

In [50]:
# assignment and sepcial assignment operators
var1 = 100
print (var1)
var1 += 50
print (var1)
var1 -= 10
print (var1)
var1 *= 10
print (var1)

100
150
140
1400

### Conditional Statement

In [42]:
# find the maximum of three user given integer numbers
num1 = int(input("Please enter the first integer number: "))
num2 = int(input("Please enter the second integer number: "))
num3 = int(input("Please enter the third integer number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("So the FIRST Number is the Maximum number...")
        print (f"So the Maximum Number is {num1}...")
    else:
        print ("So the THIRD Number is the Maximum number...")
        print (f"So the Maximum Number is {num3}...")
elif (num2 > num3):
    print ("So the SECOND Number is the Maximum number...")
    print (f"So the Maximum Number is {num2}...")
else:
    print ("So the THIRD Number is the Maximum number...")
    print (f"So the Maximum Number is {num3}...")
print ("End of the program...")

Please enter the first integer number:  300
Please enter the second integer number:  100
Please enter the third integer number:  200

So the FIRST Number is the Maximum number...
So the Maximum Number is 300...
End of the program...

In [46]:
# find the maximum of three user given integer numbers
num1 = int(input("Please enter the first integer number: "))
num2 = int(input("Please enter the second integer number: "))
num3 = int(input("Please enter the third integer number: "))
if (num1 > num2 and num1 > num3):
    print ("So the FIRST Number is the Maximum number...")
    print (f"So the Maximum Number is {num1}...")
elif (num2 > num3):
    print ("So the SECOND Number is the Maximum number...")
    print (f"So the Maximum Number is {num2}...")
else:
    print ("So the THIRD Number is the Maximum number...")
    print (f"So the Maximum Number is {num3}...")
print ("End of the program...")

Please enter the first integer number:  200
Please enter the second integer number:  100
Please enter the third integer number:  300

So the THIRD Number is the Maximum number...
So the Maximum Number is 300...
End of the program...

In [48]:
# python supports dynamic type variables
var = 100
print (var, type(var))
var = 100.50
print (var, type(var))
var = 'USA'
print (var, type(var))
var = True
print (var, type(var))
var = "I"
print (var, type(var))
var = False
print (var, type(var))

100 <class 'int'>
100.5 <class 'float'>
USA <class 'str'>
True <class 'bool'>
I <class 'str'>
False <class 'bool'>

### Python Loop Constructs

In [1]:
for i in range(10):
    print (f"i = {i}...")
print ("End of the program...")

i = 0...
i = 1...
i = 2...
i = 3...
i = 4...
i = 5...
i = 6...
i = 7...
i = 8...
i = 9...
End of the program...

In [2]:
list1 = list(range(10))
print (list1, len(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 10

In [3]:
for i in range(0, 10):
    print (f"i = {i}...")
print ("End of the program...")

i = 0...
i = 1...
i = 2...
i = 3...
i = 4...
i = 5...
i = 6...
i = 7...
i = 8...
i = 9...
End of the program...

In [5]:
for i in range(0, 10, 1):   # range(10) = range(0, 10) = range(0, 0, 1)
    print (f"i = {i}...")
print ("End of the program...")

i = 0...
i = 1...
i = 2...
i = 3...
i = 4...
i = 5...
i = 6...
i = 7...
i = 8...
i = 9...
End of the program...

In [6]:
for i in range(0, 10, 2):
    print (f"i = {i}...")
print ("End of the program...")

i = 0...
i = 2...
i = 4...
i = 6...
i = 8...
End of the program...

In [8]:
count = 0
for i in range(10, -10, -2):
    print (f"i = {i}...")
    count += 1
print (f"Loop executed for {count} number of times...")
print ("End of the program...")

i = 10...
i = 8...
i = 6...
i = 4...
i = 2...
i = 0...
i = -2...
i = -4...
i = -6...
i = -8...
Loop executed for 10 number of times...
End of the program...

In [9]:
count = 0
for i in range(-10, 10, 1):
    print (f"i = {i}...")
    count += 1
print (f"Loop executed for {count} number of times...")
print ("End of the program...")

i = -10...
i = -9...
i = -8...
i = -7...
i = -6...
i = -5...
i = -4...
i = -3...
i = -2...
i = -1...
i = 0...
i = 1...
i = 2...
i = 3...
i = 4...
i = 5...
i = 6...
i = 7...
i = 8...
i = 9...
Loop executed for 20 number of times...
End of the program...

In [12]:
for i in range(10):
    print (f"Looping for i = {i}...")
else:
    print ("Had a smooth iteration...")
print ("End of the looping...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
Looping for i = 8...
Looping for i = 9...
Had a smooth iteration...
End of the looping...

In [16]:
for i in range(10):
    print (f"Looping for i = {i}...")
    if (i == 6): break
else:
    print ("Had a smooth iteration...")
print ("End of the looping...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
End of the looping...

In [20]:
num = int(input("Please enter one integer number:"))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is NOT a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
print ("End of the execution...")

Please enter one integer number: 101

101 is a PRIME Number...
End of the execution...

In [24]:
num = int(input("Please enter one integer number:"))
i = 2
while (i < num):
    if (num % i == 0):
        print (f"{num} is NOT a PRIME Number...")
        break
    i += 1
else:
    print (f"{num} is a PRIME Number...")
print ("End of the execution...")

Please enter one integer number: 100

100 is NOT a PRIME Number...
End of the execution...

In [3]:
for i in range(1, 10):
    if (i == 3 or i == 6):
        print (f"Continue again with i = {i}...")
        continue
    print (f"Looping for i = {i}...")
else:
    print (f"Else block is executing...")
print ("End of the execution...")

Looping for i = 1...
Looping for i = 2...
Continue again with i = 3...
Looping for i = 4...
Looping for i = 5...
Continue again with i = 6...
Looping for i = 7...
Looping for i = 8...
Looping for i = 9...
Else block is executing...
End of the execution...

In [2]:
i = 1
while (i < 10):
    if (i == 3 or i == 6):
        print (f"Continue again with i = {i}...")
        i += 1
        continue
    print (f"Looping for i = {i}...")
    i += 1
else:
    print (f"Else block is executing...")
print ("End of the execution...")

Looping for i = 1...
Looping for i = 2...
Continue again with i = 3...
Looping for i = 4...
Looping for i = 5...
Continue again with i = 6...
Looping for i = 7...
Looping for i = 8...
Looping for i = 9...
Else block is executing...
End of the execution...

In [7]:
i = 1
while (i < 10):
    if (i == 3 or i == 6):
        print (f"Continue again with i = {i}...")
        i += 1
        continue
    else:
        pass   # pass is a statement placeholder
    print (f"Looping for i = {i}...")
    i += 1
else:
    print (f"Else block is executing...")
print ("End of the execution...")

Looping for i = 1...
Looping for i = 2...
Continue again with i = 3...
Looping for i = 4...
Looping for i = 5...
Continue again with i = 6...
Looping for i = 7...
Looping for i = 8...
Looping for i = 9...
Else block is executing...
End of the execution...

In [10]:
# nested for loops
print ("Visit DOCTOR...")   # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")   # 5 times
    for medi in range(1, 4):
        print (f"Day Number = {day} and Medicine Number = {medi}...")   # 15 times
        medicount += 1
    print ("Good Night...")   # 5 times
    print ("----------------------------------------------------------")   # 5 times
print (f"So total number of medicines consumed is {medicount}...")
print ("Thanks to DOCTOR...")   # 1 time

Visit DOCTOR...
Good Morning...
Day Number = 1 and Medicine Number = 1...
Day Number = 1 and Medicine Number = 2...
Day Number = 1 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 2 and Medicine Number = 1...
Day Number = 2 and Medicine Number = 2...
Day Number = 2 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 3 and Medicine Number = 1...
Day Number = 3 and Medicine Number = 2...
Day Number = 3 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 4 and Medicine Number = 1...
Day Number = 4 and Medicine Number = 2...
Day Number = 4 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 5 and Medicine Number = 1...
Day Number = 5 and Medicine Number = 2...
Day Number = 5 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
So total number of medicines consumed is 15...
Thanks to DOCTOR...

In [13]:
# nested while loops
print ("Visit DOCTOR...")   # 1 time
medicount = 0
day = 1
while day < 6:
    print ("Good Morning...")   # 5 times
    medi = 1
    while medi <= 3:
        print (f"Day Number = {day} and Medicine Number = {medi}...")   # 15 times
        medicount += 1
        medi += 1
    print ("Good Night...")   # 5 times
    print ("----------------------------------------------------------")   # 5 times
    day += 1
print (f"So total number of medicines consumed is {medicount}...")
print ("Thanks to DOCTOR...")   # 1 time

Visit DOCTOR...
Good Morning...
Day Number = 1 and Medicine Number = 1...
Day Number = 1 and Medicine Number = 2...
Day Number = 1 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 2 and Medicine Number = 1...
Day Number = 2 and Medicine Number = 2...
Day Number = 2 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 3 and Medicine Number = 1...
Day Number = 3 and Medicine Number = 2...
Day Number = 3 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 4 and Medicine Number = 1...
Day Number = 4 and Medicine Number = 2...
Day Number = 4 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
Good Morning...
Day Number = 5 and Medicine Number = 1...
Day Number = 5 and Medicine Number = 2...
Day Number = 5 and Medicine Number = 3...
Good Night...
----------------------------------------------------------
So total number of medicines consumed is 15...
Thanks to DOCTOR...

In [15]:
print ("Hello " * 5)
print ("Welcome " * 6)

Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome Welcome

In [ ]:
n = 6 (user given number)
               i    .    *
             ---------------
.....*         1    5    1         (i, n)
....***        2    4    3    . => (n - i)
...*****       3    3    5
..*******      4    2    7    * => (2 * i - 1)
.*********     5    1    9
***********    6    0   11
             ---------------
             Tracing Table

In [18]:
n = int(input("Please enter the number of terms: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the pattern printing...")

Please enter the number of terms:  9

........*
.......***
......*****
.....*******
....*********
...***********
..*************
.***************
*****************
End of the pattern printing...

In [ ]:
n = 11 (user given ODD number)
               i    .    *
             ---------------  m = (n + 1) // 2 = 6
***********    1    0   11         (i, n, m)
.*********     2    1    9    . => (i - 1)
..*******      3    2    7
...*****       4    3    5    * => (2 * (m - i) + 1)
....***        5    4    3
.....*       __6____5____1__
....***        7    4    3
...*****       8    3    5    . => (n - i)
..*******      9    2    7
.*********    10    1    9    * => (2 * (i - m) + 1)
***********   11    0   11
             ---------------
             Tracing Table

In [22]:
while(True):
    n = int(input("Please enter the ODD number of terms: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (n - i); s = (2 * (i - m) + 1)
    else: b = (i - 1); s = (2 * (m - i) + 1)
    print ("." * b + "*" * s)
print ("End of the pattern printing...")

Please enter the ODD number of terms:  6
Please enter the ODD number of terms:  12
Please enter the ODD number of terms:  10
Please enter the ODD number of terms:  18
Please enter the ODD number of terms:  11

***********
.*********
..*******
...*****
....***
.....*
....***
...*****
..*******
.*********
***********
End of the pattern printing...

### **User Defined Function (UDF)**

In [1]:
def funct1():
    print ("Welcome " * 5)
    
print (type(funct1), id(funct1))
funct1()
funct1()
funct1()

<class 'function'> 2245806317648
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome

In [2]:
def funct2(msg, times):   # msg and times are called as positional parameters
    print (msg * times)
    
funct2 ("Hello ", 10)     # "Hello " and 10 are called as positional arguments
funct2 ("Welcome ", 5)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome

In [4]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 3)
print (result)
result = funct3("Hi !!!  ", 5)
print (result)
print (funct3("Hi !!!  ", 5))

Hello Hello Hello
Hi !!!  Hi !!!  Hi !!!  Hi !!!  Hi !!!
Hi !!!  Hi !!!  Hi !!!  Hi !!!  Hi !!!

In [13]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par2 = 200)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 111, par2 = 200 and par3 = 300...

In [14]:
def funct5(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
print (funct5(100, 400))
print (funct5(100))

500
200

In [16]:
# function returning multiple arguments
def funct6(num1, num2): 
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")

result = funct6(100, 40)
print (result, type(result), len(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) <class 'tuple'> 4
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [17]:
# function with variable number of arguments
def funct7(*arg):    # *arg means forcefully defining arg as a tuple type collection object
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Pune")
funct7("Amitava", "Developer", 65000, "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2245835330816
('Amitava', 'Developer', 65000, 'Pune') 4 <class 'tuple'> 2245835268688
('Amitava', 'Developer', 65000, 'Pune', 'Masters') 5 <class 'tuple'> 2245835266608

In [18]:
# function with variable number of arguments
def funct8(**kwarg):     # **kwarg means forcefully defining kwarg as a dictionary type key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune")
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune", qualification = "ME")

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune'} 4 <class 'dict'> 2245835218880
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune', 'qualification': 'ME'} 5 <class 'dict'> 2245835219072

In [19]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, location = "Pune", qualification = "Masters", hobby='drawing')
print ()
funct9("Amitava", "Developer", 65000)
print ()
funct9(location = "Pune", qualification = "Masters", hobby = 'drawing')

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2245835030784
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2245835215744

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2245835331328
{} 0 <class 'dict'> 2245835214208

() 0 <class 'tuple'> 2245719703664
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2245833883520

In [20]:
# non-recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = num
    for i in range(2, num):
        print (f"Executing for i = {i}...")
        fact *= i
    return fact

n = 5
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")

Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
So factorial of 5 is 120...

In [21]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_r(num):
    if (num == 0 or num == 1): return 1  # base case: for certain input values outputs are pre-known, and where recursion terminates
    return num * factorial_r(num - 1)    # reursive case: the function will call itself, n! = n * (n - 1)!

n = 5
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")

So factorial of 5 is 120...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

#### Lambda Function
> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [22]:
# lambda function
my_square = lambda num: num * num

print (my_square(5), my_square, type(my_square), id(my_square))
result = my_square(6)
print (result)

25 <function <lambda> at 0x0000020AE61C3640> <class 'function'> 2245833537088
36

In [23]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition(500, 400), my_addition, type(my_addition), id(my_addition))
result = my_addition(300, 500)
print (result)

900 <function <lambda> at 0x0000020AE61C1FC0> <class 'function'> 2245833531328
800

In [24]:
# recursive factorial calculation with lambda function
my_factorial = lambda num1: 1 if (num1 == 0 or num1 == 1) else num1 * my_factorial(num1 - 1)
print (my_factorial(5), my_factorial, type(my_factorial), id(my_factorial))
result = my_factorial(6)
print (result)

120 <function <lambda> at 0x0000020AE61C27A0> <class 'function'> 2245833533344
720

In [25]:
def funct10(num):
    myproduct = lambda n: n * num
    return myproduct

var10 = funct10(10)
var20 = funct10(20)
print (var10(3))
print (var20(4))
print (funct10(30)(5))

30
80
150

In [27]:
# using the 'global' keyword
def funct11():
    i = 100
    print (i, id(i))
    
i = 500
print (i, id(i))
funct11()
print (i, id(i))

500 2245833845808
100 2245719690576
500 2245833845808

In [28]:
# using the 'global' keyword
def funct11():
    global i
    i = 100
    print (i, id(i))
    
i = 500
print (i, id(i))
funct11()
print (i, id(i))

500 2245833848656
100 2245719690576
100 2245719690576

### Importing Modules: Math Module

In [1]:
# importing required modules
import math

In [3]:
print (math.sin(0), math.cos(0), math.tan(0), math.sinh(0), math.cosh(0), math.asin(0))
print (math.sqrt(100), 100 ** 0.5, math.sqrt(1000), 1000 ** 0.5)
print (math.pi, math.e, math.tau)
print (math.gcd(100, 5), math.gcd(100, 45), math.gcd(1000, 720),(1000*720)/math.gcd(1000,720), math.lcm(1000, 720))
print (math.log(100), math.log(100, math.e), math.log(1024, 2), math.log2(1024),
       math.log(1000, 10), math.log10(1000))

0.0 1.0 0.0 0.0 1.0 0.0
10.0 10.0 31.622776601683793 31.622776601683793
3.141592653589793 2.718281828459045 6.283185307179586
5 5 40 18000.0 18000
4.605170185988092 4.605170185988092 10.0 10.0 2.9999999999999996 3.0

In [4]:
print (math.factorial(5), math.factorial(6))
print (math.pow(100, 2), 100 ** 2, 100.0 ** 2)
print (math.floor(10.1), math.floor(10.9), math.ceil(10.1), math.ceil(10.9))

120 720
10000.0 10000 10000.0
10 10 11 11

In [5]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [ ]:
help(math)

In [7]:
print (math.dist((100, 30), (200, 40)))   # calculating Eucledian distance
print (math.sqrt((100 - 200) ** 2 + (30 - 40) ** 2))

100.4987562112089
100.4987562112089

In [8]:
import calendar
calendar.prcal(2023)

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

### String Processing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [12]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval

university 10 <class 'str'> 1673040282864
v v i i r r
niversi niversi niversi niversi ytisrevinu

In [13]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper(), mystr.lower(), mystr.title(), mystr.capitalize(),
       mystr.swapcase(), mystr.center(40))
print (mystr.upper().center(50))

caLCuTTa unIVerSitY 19 <class 'str'> 1673040867168
CALCUTTA UNIVERSITY calcutta university Calcutta University Calcutta university CAlcUttA UNivERsITy           caLCuTTa unIVerSitY
               CALCUTTA UNIVERSITY

In [15]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13), mystr.find("ins", 11, 14))

4 4 11 -1 11

In [19]:
mystr = "charity begins at home"
print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))
print ("End of the program...")

4 4 11

ValueError: substring not found

In [17]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
    print (mystr.index("ins", 11, 13))
except ValueError as ve:
    print ("Unsuccessful searching has taken place...")
print ("End of the program...")

4 4 11
Unsuccessful searching has taken place...
End of the program...

In [20]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()), mystr.lstrip(), len(mystr.lstrip()), mystr.rstrip(),
       len(mystr.rstrip()))
print (mystr.strip(" "), mystr.lstrip(" "), len(mystr.lstrip(" ")))

    calcutta    university      31 <class 'str'> 1673040870768
calcutta    university 22 calcutta    university      27     calcutta    university 26
calcutta    university calcutta    university      27

In [21]:
mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")), mystr.lstrip("@#"), mystr.rstrip("@#"),
       len(mystr.rstrip("@#")))

calcutta#@#@university 22 calcutta#@#@university#@@@# ##@@calcutta#@#@university 26

In [22]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False True True
True False True

In [24]:
mystr = "Welcome"    # Reading character by character from a string
for ch in mystr:
    print (ch)

W
e
l
c
o
m
e

In [25]:
mystr = "Welcome"    # Reading character by character from a string
for i in range(len(mystr)):
    print (mystr[i])

W
e
l
c
o
m
e

In [27]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)

charity begins at home 22 <class 'str'> 1673040862688
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [29]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr)
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 1673069678400
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [34]:
# mystr = "university"
# mystr = "1234"    # isdecimal() subset of isdigit() subset of isnumeric()
# mystr = "0xab"
# mystr = "university1234"
mystr = "university@1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())

False False False False False

In [37]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)

2 1 0
unxversxty
university
unxversxty

In [38]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'i', 'p', 's', 'm'}
frozenset({'i', 'p', 's', 'm'})

### List Processing

In [40]:
list1 = [100, 400, 300, 200, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 700] 5 <class 'list'> 1673040222016
700 100
1700 340.0

In [41]:
list1 = [100, 400, True, 300, 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 300, 200, False, 700] 7 <class 'list'> 1673040294144
700 False
1701 243.0

In [44]:
list1 = ["sunday", "monday", 'friday', 'Saturday', 'tuesday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

['sunday', 'monday', 'friday', 'Saturday', 'tuesday'] 5 <class 'list'> 1673070609280
tuesday Saturday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
list1 = [100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700] 9 <class 'list'> 1673070901952

TypeError: '>' not supported between instances of 'str' and 'int'

In [46]:
# Indexing and slicing
# L ro R ->  0         1          2            3           4
list1 =    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# R to L -> -5        -4         -3           -2          -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[3], list1[-2])
print (list1[2][3:6], list1[-3][-6:-3])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5 <class 'list'> 1673068901696
Wednesday Wednesday Thursday Thursday
nes nes

In [48]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = list1 + list2    # list concatenation
print (list1)
print (list2)
print (list3)
list1.extend(list2)      # list concatenation
print (list1)
print (list2)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Mango', 'Pineapple', 'Guava', 'Lime']

In [50]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = [list1, list2]      # list of lists
print (list3)
print (len(list3[0]), len(list3[1]))
print (list3[1][1:3], list3[0][2:4], list3[0][2][3:6])

[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], ['Mango', 'Pineapple', 'Guava', 'Lime']]
5 4
['Pineapple', 'Guava'] ['Wednesday', 'Thursday'] nes

In [51]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.append("Guava")
print (list1)
list1.insert(1, "Lemon")
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava']
['Mango', 'Lemon', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava']

In [52]:
# update operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1[0] = "Himsagar"
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Himsagar', 'Pineapple', 'Coconut', 'Banana', 'Lime']

In [56]:
# deletion operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Lemon', 'Coconut', 'Cherry', 'Apple']
print (list1)
list1.remove("Pineapple")
print (list1)
print (list1.pop())
print (list1)
print (list1.pop(2))
print (list1)
del list1[2]
print (list1)
list1.clear()
print (list1)
del list1
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Lemon', 'Coconut', 'Cherry', 'Apple']
['Mango', 'Coconut', 'Banana', 'Lime', 'Lemon', 'Coconut', 'Cherry', 'Apple']
Apple
['Mango', 'Coconut', 'Banana', 'Lime', 'Lemon', 'Coconut', 'Cherry']
Banana
['Mango', 'Coconut', 'Lime', 'Lemon', 'Coconut', 'Cherry']
['Mango', 'Coconut', 'Lemon', 'Coconut', 'Cherry']
[]

NameError: name 'list1' is not defined

In [57]:
# reverse of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.reverse()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Lime', 'Banana', 'Coconut', 'Pineapple', 'Mango']

In [59]:
# sorting of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.sort()
print (list1)
list1.sort(reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [60]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1 = sorted(list1)
print (list1)
list1 = sorted(list1, reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [61]:
list1 = [True, False, True, True]
print (any(list1), all(list1))

True False

In [77]:
list1 = [True, True, True, True]
print (any(list1), all(list1))

True True

In [63]:
list1 = [False, False, False, False]
print (any(list1), all(list1))

False False

In [64]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
print (list1.count('Pineapple'))
print (list1.index("Pineapple"))
print (list1.index("Pineapple", 2))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
2
1
4

### Tuple Processing

In [65]:
tuple1 = (100, 400, 300, 200, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 700) 8 <class 'tuple'> 1673070939408
700 100
1700 340.0

In [66]:
tuple1 = (100, 400, True, 300, 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 300, 200, False, 700) 8 <class 'tuple'> 1673070797120
700 False
1701 243.0

In [68]:
tuple1 = ("sunday", "monday", 'friday', 'saturday', 'Tuesday')
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

('sunday', 'monday', 'friday', 'saturday', 'Tuesday') 8 <class 'tuple'> 1673070771104
sunday Tuesday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
tuple1 = (100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700) 8 <class 'tuple'> 1673070469568

TypeError: '>' not supported between instances of 'str' and 'int'

In [69]:
# Indexing and slicing
# L ro R ->   0         1          2            3           4
tuple1 =    ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# R to L ->  -5        -4         -3           -2          -1
print (tuple1[2], tuple1[-3], tuple1[3], tuple1[-2])
print (tuple1[2][3:6], tuple1[-3][-6:-3])

Wednesday Wednesday Thursday Thursday
nes nes

In [70]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = ("Mango", "Pineapple", "Guava", "Lime")
print (tuple1)
print (tuple2)
tuple3 = tuple1 + tuple2      # tuple concatenation
print (tuple3)
tuple3 = (tuple1, tuple2)     # tuple of tuples
print (tuple3)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
('Mango', 'Pineapple', 'Guava', 'Lime')
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime')
(('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'), ('Mango', 'Pineapple', 'Guava', 'Lime'))

In [71]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

10 <class 'int'>
(10,) <class 'tuple'>

In [73]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
# tuple1[1] = 'Saturday'
list1 = list(tuple1)
print (list1, id(list1))
list1[1] = 'Saturday'
print (list1, id(list1))
tuple1 = tuple(list1)
print (tuple1, id(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 1673070325856
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 1673071242048
['Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday'] 1673071242048
('Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday') 1673070604944

In [74]:
# sorting on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
tuple2 = tuple(sorted(tuple1))
print (tuple2, id(tuple2))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 1673070325856
('Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday') 1673070604944

In [75]:
tuple1 = (True, False, True, True);
print (any(tuple1), all(tuple1))

tuple1 = (True, True, True, True);
print (any(tuple1), all(tuple1))

tuple1 = (False, False, False, False);
print (any(tuple1), all(tuple1))

True False
True True
False False

In [78]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.count('Pineapple'))
print (tuple1.count('Lemon'))

2
0

In [82]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.index("Pineapple"))
print (tuple1.index("Pineapple", 0))
print (tuple1.index("Pineapple", 2))
print (tuple1.index("Pineapple", 5))

1
1
4

ValueError: tuple.index(x): x not in tuple

### Dictionary Processing